<ion-view view-title="Kõik linnad">
    <ion-content>
        <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
        <!-- <div class="row responsive-sm">
             <div class="col"><h1>tallinna kaart värgid</h1></div>
         </div>-->
        <highchart config="Alternaria_all"></highchart>
        <highchart config="Cladosporium_all"></highchart>
        <highchart config="Jalakas_all"></highchart>
        <highchart config="Kadakas_all"></highchart>
        <highchart config="Kask_all"></highchart>
        <highchart config="Korrelised_all"></highchart>
        <highchart config="Kuusk_all"></highchart>
        <highchart config="Lepp_all"></highchart>
        <highchart config="Mand_all"></highchart>
        <!--<highchart config="Noges_all"></highchart>
        <highchart config="Oblikas_all"></highchart>
        <highchart config="Paju_all"></highchart>
        <highchart config="Pappel_all"></highchart>
        <highchart config="Puju_all"></highchart>
        <highchart config="Saar_all"></highchart>
        <highchart config="Sarapuu_all"></highchart>
        <highchart config="Tamm_all"></highchart>
        <highchart config="Vaher_all"></highchart>-->
    </ion-content>
</ion-view>