<ion-view view-title="Nõuanded">
    <ion-content has-header="true" padding="true">
        <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
        Käes on kevad ja paljudele toovad soojad ilmad, naasvad laululinnud ning õitsvad puud rõõmu. Nendele umbes 150 000 eestimaalasele ehk 10%le Eesti elanikkonnast, kellel on õietolmuallergia ning kes mingil põhjusel pole teinud ennetavat ravi ega muretsenud endale vajalikke ravimeid, algab raske ja vaevarikas aeg.
        Märtsist maini on puude õitsemise aeg. Peamised pollinoosi põhjustajad on sarapuu-, lepa- ja kasetolm. Varase kevade korral võib sarapuu õitsema hakata juba veebruari lõpus. Kask õitseb mais. Mai lõpus lisanduvad veel tamme ja võilille õietolm.

        Tänavune kevad saabus vara ja puude õietolmu tuvastati õhus märtsi esimeses dekaadis.
        Õietolmuallergia avaldub kõige sagedamini pollinoosina, mida nimetatakse veel heinapalavikuks ning mis võib olla silmade, nina ja bronhide reaktsioon õietolmule.
    </ion-content>

<ion-tabs class="tabs-icon-top tabs-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/app/info">

    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Tabel" icon-off="ion-ios-grid-view-outline" icon-on="ion-ios-grid-view" href="#/app/table">

    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Vihjed" icon-off="ion-ios-lightbulb-outline" icon-on="ion-lightbulb" href="#/app/tips">

    </ion-tab>

</ion-tabs>
</ion-view>