<ion-view view-title="Jõhvi">
    <ion-content>
        <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
        <highchart config="Alternaria_jhv"></highchart>
        <highchart config="Cladosporium_jhv"></highchart>
        <highchart config="Jalakas_jhv"></highchart>
        <highchart config="Kadakas_jhv"></highchart>
        <highchart config="Kask_jhv"></highchart>
        <highchart config="Korrelised_jhv"></highchart>
        <highchart config="Kuusk_jhv"></highchart>
        <highchart config="Lepp_jhv"></highchart>
        <highchart config="Mand_jhv"></highchart>
        <highchart config="Noges_jhv"></highchart>
        <highchart config="Oblikas_jhv"></highchart>
        <highchart config="Paju_jhv"></highchart>
        <highchart config="Pappel_jhv"></highchart>
        <highchart config="Puju_jhv"></highchart>
        <highchart config="Saar_jhv"></highchart>
        <highchart config="Sarapuu_jhv"></highchart>
        <highchart config="Tamm_jhv"></highchart>
        <highchart config="Vaher_jhv"></highchart>
    </ion-content>
</ion-view>
