<ion-view view-title="Kuressaare">
    <ion-content>
        <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
        <highchart config="Alternaria_krs"></highchart>
        <highchart config="Cladosporium_krs"></highchart>
        <highchart config="Jalakas_krs"></highchart>
        <highchart config="Kadakas_krs"></highchart>
        <highchart config="Kask_krs"></highchart>
        <highchart config="Korrelised_krs"></highchart>
        <highchart config="Kuusk_krs"></highchart>
        <highchart config="Lepp_krs"></highchart>
        <highchart config="Mand_krs"></highchart>
        <highchart config="Noges_krs"></highchart>
        <highchart config="Oblikas_krs"></highchart>
        <highchart config="Paju_krs"></highchart>
        <highchart config="Pappel_krs"></highchart>
        <highchart config="Puju_krs"></highchart>
        <highchart config="Saar_krs"></highchart>
        <highchart config="Sarapuu_krs"></highchart>
        <highchart config="Tamm_krs"></highchart>
        <highchart config="Vaher_krs"></highchart>
    </ion-content>
</ion-view>
