<ion-view view-title="Pärnu">
    <ion-content>
        <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
        <highchart config="Alternaria_prn"></highchart>
        <highchart config="Cladosporium_prn"></highchart>
        <highchart config="Jalakas_prn"></highchart>
        <highchart config="Kadakas_prn"></highchart>
        <highchart config="Kask_prn"></highchart>
        <highchart config="Korrelised_prn"></highchart>
        <highchart config="Kuusk_prn"></highchart>
        <highchart config="Lepp_prn"></highchart>
        <highchart config="Mand_prn"></highchart>
        <highchart config="Noges_prn"></highchart>
        <highchart config="Oblikas_prn"></highchart>
        <highchart config="Paju_prn"></highchart>
        <highchart config="Pappel_prn"></highchart>
        <highchart config="Puju_prn"></highchart>
        <highchart config="Saar_prn"></highchart>
        <highchart config="Sarapuu_prn"></highchart>
        <highchart config="Tamm_prn"></highchart>
        <highchart config="Vaher_prn"></highchart>
    </ion-content>
</ion-view>
