<ion-view view-title="Tallinn">
  <ion-content>
      <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
     <!-- <div class="row responsive-sm">
          <div class="col"><h1>tallinna kaart värgid</h1></div>
      </div>-->
      <highchart id="chart1" config="Alternaria_tln"></highchart>
      <highchart config="Cladosporium_tln"></highchart>
      <highchart config="Jalakas_tln"></highchart>
      <highchart config="Kadakas_tln"></highchart>
      <highchart config="Kask_tln"></highchart>
      <highchart config="Korrelised_tln"></highchart>
      <highchart config="Kuusk_tln"></highchart>
      <highchart config="Lepp_tln"></highchart>
      <highchart config="Mand_tln"></highchart>
      <highchart config="Noges_tln"></highchart>
      <highchart config="Oblikas_tln"></highchart>
      <highchart config="Paju_tln"></highchart>
      <highchart config="Pappel_tln"></highchart>
      <highchart config="Puju_tln"></highchart>
      <highchart config="Saar_tln"></highchart>
      <highchart config="Sarapuu_tln"></highchart>
      <highchart config="Tamm_tln"></highchart>
      <highchart config="Vaher_tln"></highchart>
  </ion-content>
</ion-view>
