<ion-view view-title="Tartu">
    <ion-content>
        <ion-refresher pulling-text="Värskendamiseks tiri alla" on-refresh="doRefresh()"></ion-refresher>
        <highchart config="Alternaria_trt"></highchart>
        <highchart config="Cladosporium_trt"></highchart>
        <highchart config="Jalakas_trt"></highchart>
        <highchart config="Kadakas_trt"></highchart>
        <highchart config="Kask_trt"></highchart>
        <highchart config="Korrelised_trt"></highchart>
        <highchart config="Kuusk_trt"></highchart>
        <highchart config="Lepp_trt"></highchart>
        <highchart config="Mand_trt"></highchart>
        <highchart config="Noges_trt"></highchart>
        <highchart config="Oblikas_trt"></highchart>
        <highchart config="Paju_trt"></highchart>
        <highchart config="Pappel_trt"></highchart>
        <highchart config="Puju_trt"></highchart>
        <highchart config="Saar_trt"></highchart>
        <highchart config="Sarapuu_trt"></highchart>
        <highchart config="Tamm_trt"></highchart>
        <highchart config="Vaher_trt"></highchart>
    </ion-content>
</ion-view>
