/* Empty. Add your own CSS if you like */

.center {
    text-align: center;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}
.border-right {
    border-right: solid 1px #ccc;
}
.border-top {
    border-top: solid 1px #ccc;
}

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

/*.pane {
    background-color: #ccc;
}*/

.bar.bar-transparent {
    background-color: transparent;
    background-image: none;
    border: none;
}

.bar .title {
    color: #eee;
}

.swipe-cards {
    position: fixed;
}

swipe-card {
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}


swipe-card .title {
    height: auto;
    padding: 7px;
    line-height: 22px;
    color: #fff;
    bottom:0;
    position: absolute;
    z-index: 0;
    background-color: #171b27;
    text-align: center;
}
swipe-card .image {
    overflow: hidden;
    max-height: 300px;
    z-index: -1;
}
swipe-card .button {
    border: none;
}
swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

#start-card {
    color: #fff;
    background-color: #065ce5;
    line-height: 300px;
    word-wrap: break-word;
    border: 6px solid #387EF5;
    text-align: center;
}
#start-card span {
    display: inline-block;
    line-height: 40px;
    width: 200px;
    font-size: 30px;
    vertical-align: middle;
}

#footer .button {
    color: #fff;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }
    70% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
    -webkit-animation: bounceIn 0.4s ease-out;
}

.korgus {
    height: 330px;
}
.card-border {
    border: 6px solid #387EF5;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.item-icon-left ion-spinner {
    float: left;
    margin-left: -3.2em;
    margin-right: 1em;
    margin-top: -0.2em;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #999;
    fill: #999;
}

/*splash screen*/

img {
    max-width: 100%;
    display: block;
}

.thumbnail {
    position: absolute;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -o-transition: all 0.5s ease; /* IE 9 */
    -ms-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.image.zoom img {
    -webkit-transform:scale( 2.25); /* Safari and Chrome */
    -moz-transform:scale( 2.25); /* Firefox */
    -ms-transform:scale( 2.25); /* IE 9 */
    -o-transform:scale( 2.25); /* Opera */
    transform:scale( 2.25);
    opacity: 0;
}
