/* Empty. Add your own CSS if you like */

.center {
    text-align: center;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

/*Table*/
.border-right {
    border-right: solid 1px #ccc;
}

.border-top {
    border-top: solid 1px #ccc;
}

.border-bottom {
    border-top: solid 1px #ccc;
}

.table-icon-color {
    color: #2c3b56;
}

.item-divider {
    /*background-color: #7C95C9;*/
}
/* Swipe cards*/

.bar.bar-transparent {
    background-color: transparent;
    background-image: none;
    border: none;
}

.bar .title {
    color: #eee;
}

.swipe-cards {
    position: fixed;
}

swipe-card {
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 6px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

swipe-card .title {
    height: auto;
    padding: 7px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    bottom:0;
    position: absolute;
    z-index: 0;
    background-color: #171b27;
    text-align: center;
}

swipe-card .image {
    overflow: hidden;
    max-height: 300px;
    z-index: -1;
}

swipe-card .image img {
    width: 100%;
}

#start-card {
    color: #fff;
    background-color: #506b9b;
    line-height: 300px;
    word-wrap: break-word;
    border: 3px solid #3A4F76;
    text-align: center;
}

#start-card span {
    display: block;
    line-height: 40px;
    width: 100%;
    font-size: 30px;
    vertical-align: middle;
    position: relative;
    top: 60px;
}

#start-card img {
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 65px;
}

#footer .button {
    color: #fff;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }
    70% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}

swipe-card.pop-in {
    -webkit-animation: bounceIn 0.4s ease-out;
}

.korgus {
    height: 330px;
}

.card-border {
    border: 3px solid #3A4F76;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.item-icon-left ion-spinner {
    float: left;
    margin-left: -3.2em;
    margin-right: 1em;
    margin-top: -0.2em;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #999;
    fill: #999;
}

/* Splash screen*/
img {
    max-width: 100%;
    display: block;
}

.thumbnail {
    position: absolute;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.image.zoom img {
    -webkit-transform:scale( 2.25);
    -moz-transform:scale( 2.25);
    -ms-transform:scale( 2.25);
    -o-transform:scale( 2.25);
    transform:scale( 2.25);
    opacity: 0;
}

/*Menu*/
.hiider {
    height:141px;
    background-image: url("../img/header-bg2.png");
}

.main-menu {
    top: 100px;
}

.list {
    top:141px;
    color: #1b394f;
}

.item {
    border-width: 0px;
    text-color: #fff;
}

.item-icon-left {
    padding-left: 85px;
}

.item-icon-left .icon {
    left: 15px;
}

.menu-font-color {
    color: #2c3b56;
    padding-top: 5px;
}

.active h2 {
    font-weight: bold;
}

.ion-ios-arrow-right:before {
    font-size: 25px;
}

.i .icon .ion-stop .assertive:before {
    font-size: 10px;
}

