/* Empty. Add your own CSS if you like */

.center {
    text-align: center;
}

.margin-top-15 {
    margin-top: 15px;
}
.border-right {
    border-right: solid 1px #ccc;
}
.border-top {
    border-top: solid 1px #ccc;
}
